body{
    height: 100%;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #343a40;
    color: white;
    flex: 0 1 auto;
    min-height: 3rem;
    display: none;
}

.titleText{
    padding: 5px;
    font-size: 1.25rem;
}

.headline{
    flex: 0 1 auto;
    background: url("/ImageViewer/trunk/herbst-see.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    /*background-color: white;*/
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.headlineCentered{
    text-align: center;
    background-color: rgba(255,255,255,0.7);    
}

.headlineText{
    font-weight: 300;
}

.headlineSubtext{
    /*color: #868e96;*/
}

.album{
    background-color: #f7f7f7;
    flex: 1 1 auto;
}

.albumMargin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.albumRow{
    background-color: #f7f7f7;
}

.albumCard{
    background-color: white;
    padding: 0.75rem;
    width: 50%;
    margin-bottom: 1rem;
}

.divImage{
    background-color: #dddddd;
    padding:5rem;
    text-align: center;
}